html
html
    head
        title Password Reset Form
    body
        form(action='', method='POST')
            div
                label(for='password') New Password
                input(name='password' type='password' value='' placeholder='New Password' autofocus=true)
            br
            div
                label(for='confirm') Confirm Password
                input(name='confirmPassword' type='password' value='' placeholder='Confirm Password')
            br
            button(type='submit') Update Password